/*************/
/* Generelt*/
/************/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/*************/
/* Body, main, H1*/
/************/

body {
  line-height: 2;
  color: #555;
  max-width: 1280px;
}

main {
}

h1,
h2 {
  font-family: "Times New Roman", Times, serif;
}

.border-header-h1 {
  border-style: solid;
}

h1 {
  font-size: 3rem;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 25px;
  background-color: #fdf2e9;
}

/**************************/
/****** HEADER *************/
/**************************/

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fdf2e9;
  position: relative;
  height: 7rem;
  font-size: 1.2rem;
  padding: 0 2.8rem;
}

.logo {
  height: 3.9rem;
}
label {
  margin: 0 30px 0 0;
  font-size: 26px;
  line-height: 70px;
  display: none;
}
#toggle {
  display: none;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
}

.nav-link:link,
.nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
}
.nav-link:hover,
.nav-link:active {
  color: #087f5b;
}

/*************/
/* øverste section*/
/************/
/**Dette er bare access siden som har */
.seksjon-tittel {
  background-color: #fdf2e9;
  position: relative;
  padding-left: 20px;
  text-align: center;
}
.andre-overskrift {
  font-size: 25px;
  line-height: 27px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.section-tekst {
  font-size: 18px;
  line-height: 1.7;
  padding-bottom: 10px;
  padding-top: 10px;
}

a {
  text-decoration: none;
}

.section-overstebilde {
  max-width: 100%;
}

.section-øverst {
  max-width: auto;
  display: flex;
  background-color: #fdf2e9;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 15px;
  border-style: solid;
  align-items: center;
}

.plassere-tekstboks {
  width: 500px;
}

.plassere-bilde {
  width: 500px;
}

/*************/
/* Nedersete section*/
/************/

.section-nederst {
  padding: 4.7rem 0 9.6rem 0;
  max-width: auto;
  display: flex;
  background-color: #fdf2e9;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 15px;
  border-style: solid;
}

/*****TABLETS*****/
@media (max-width: 950px) {
  .section-øverst {
    flex-direction: column;
  }
  .section-nederst {
    flex-direction: column;
  }
  /**FOR NAVEM**/
  label {
    display: block;
    cursor: pointer;
  }
  /**Satte naven til display none for å få det bort og satt flex direction til colum for
for å ha dem som kolonne og ikke rader **/
  nav {
    text-align: center;
    width: 100%;
    display: none;
    flex-direction: column;
  }
  /**alle linkene i nav-listen satt jeg til displat block og lagde border for */

  .nav-list a {
    display: block;
    border-bottom: 0.5px solid #eaeaeb;
    margin: 0;
  }
  /*Når du trykker på togglen så skal naven komme ned*/
  #toggle:checked + nav {
    display: block;
  }
  #plassere-bilde-a {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  #plassere-bilde-a img {
    width: 100%;
    object-fit: cover;
  }
}

/**************************/
/******MEDIA MOBIL SCREEN**/
/**************************/

@media (max-width: 576px) {
  .plassere-tekstboks {
    width: 300px;
  }
  h1 {
    padding-top: 6px;
    font-size: 2rem;
  }
}
