* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 2;
  color: #555;
  background-color: grey;
}

h1 {
}
/*********************************/
/* Generelle brukbare komponenter*/
/*********************************/
