/*************/
/* Generelt*/
/************/
* {
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  color: #555;
  background-color: white;
  max-width: 1280px;
  margin: 0 auto;
}

/**************************/
/****** HEADER *************/
/**************************/

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fdf2e9;
  position: relative;
  height: 7rem;
  font-size: 1.2rem;
  padding: 0 2.8rem;
}

.logo {
  height: 3.9rem;
}
label {
  margin: 0 30px 0 0;
  font-size: 26px;
  line-height: 70px;
  display: none;
}
#toggle {
  display: none;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 16px;
  list-style: none;
}

.nav-link:link,
.nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
}
.nav-link:hover,
.nav-link:active {
  color: orange;
}

/*************/
/* Tekstrelatert:
h1, h2, a, 
klasse til h2 og p */
/************/

h1,
h2 {
  font-family: "Times New Roman", Times, serif;
}

.andre-overskrift,
.paragraf-tekst {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 32px;
}

h1 {
  font-size: 48px;
  line-height: 40px;
  letter-spacing: 1.2px;
  padding-bottom: 5px;
  text-align: center;
  margin-top: 8px;
}

a {
  text-decoration: none;
}

.andre-overskrift {
  font-size: 28px;
}

.paragraf-tekst,
blockquote {
  font-size: 18px;
}

/*************/
/* Layout*/
/************/

.border-header-h1,
.section,
footer {
  border-style: solid;
  background-color: #fdf2e9;
}

.section,
footer {
  margin-top: 15px;
}

.section,
.footer-container {
  display: flex;
  justify-content: space-evenly;
}

.plassere-tekstboks,
.plassere-bilde,
.bilde-en {
  width: 500px;
}

.section {
  align-items: center;
}

/**Dette er bare tilgjengelighet.html siden som har */

.seksjon-tittel {
  text-align: center;
}
.section-overstebilde {
  max-width: 100%;
}

/****Media-Query**/
/*****TABLETS*****/
/*****************/
@media (max-width: 950px) {
  .section {
    flex-direction: column;
  }
  /**FOR NAVEN**/
  label {
    display: block;
    cursor: pointer;
  }
  /**Satte naven til display none for å få det bort og satt flex direction til colum for
for å ha dem som kolonne og ikke rader **/
  nav {
    text-align: center;
    width: 100%;
    display: none;
    flex-direction: column;
  }
  /**alle linkene i nav-listen satt jeg til displat block og lagde border for */

  .nav-list a {
    display: block;
    border-bottom: 0.5px solid #eaeaeb;
    margin: 0;
  }
  /*Når du trykker på togglen så skal naven komme ned*/
  #toggle:checked + nav {
    display: block;
  }
  .bilde-en {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .bilde-en img {
    width: 100%;
    object-fit: cover;
  }
}

/******MEDIA MOBIL SCREEN**/
@media only screen and (min-width: 300px) and (max-width: 576px) {
  .plassere-tekstboks,
  .plassere-bilde {
    width: 300px;
  }
  h1 {
    padding-top: 6px;
    font-size: 2rem;
  }
}
