/*************/
/* Generelt*/
/************/
* {
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  color: #555;
  background-color: #fdf2e9;
  max-width: 1280px;
  margin: 0 auto;
}

/****** HEADER *************/
/**************************/
.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 7rem;
  font-size: 1.2rem;
  padding: 0 2.8rem;
}

.logo {
  height: 3.9rem;
}
label {
  margin: 0 30px 0 0;
  font-size: 26px;
  line-height: 70px;
  display: none;
}
#toggle {
  display: none;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
}

.nav-link:link,
.nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
}
.nav-link:hover,
.nav-link:active {
  color: orange;
}

/*************/
/* Tekstrelatert:
h1, h2, a, 
klasse til h2 og p */
/************/

h1,
h2 {
  font-family: "Times New Roman", Times, serif;
}

.andre-overskrift,
.footer-tekst {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 27px;
}

h1 {
  font-size: 44px;
  line-height: 1.1;
  margin-bottom: 32px;
}

h2 {
  font-size: 36px;
  margin-bottom: 48px;
}

.introduksjon-beskrivelse {
  font-size: 22px;
  line-height: 2rem;
}

.kolonne-tittel {
  margin-bottom: 16px;
  font-size: 20px;
  justify-content: center;
}

.kolonne-tekst {
  font-size: 18px;
  line-height: 1.7;
}

.andre-overskrift {
  font-size: 25px;
  margin-bottom: 0;
}

.footer-tekst {
  font-size: 18px;
}

/**************************/
/**********Layout***********/
/**************************/

.seksjon-introduksjon,
.section-tittel {
  padding: 4rem 0 7rem 0;
}

.introduksjon,
.tre-ting-kolonne {
  display: grid;
  column-gap: 80px;
}

.introduksjon {
  grid-template-columns: repeat(2, 1fr);
  margin-top: 10px;
  padding-left: 30px;
}

.tre-ting-kolonne {
  grid-template-columns: repeat(3, 1fr);
  padding: 0 30px 30px 30px;
}

.footer-container {
  display: flex;
  justify-content: space-evenly;
}

.section-tittel,
.kolonne-overskrift {
  text-align: center;
}

footer {
  border-style: solid;
}

.kolonne-overskrift {
  padding-top: 30px;
}

img {
  max-width: 100%;
}

/**SYMBOL**/

.kolonne-icon {
  stroke: #087f5b;
  width: 32px;
  height: 32px;
  padding-bottom: 10px;
}

/**************************/
/******MEDIA-QUERY**/
/**************************/

/*****TABLETS*****/

@media only screen and (max-width: 950px) {
  .introduksjon {
    grid-template-columns: 1fr;
    padding: 0 8rem;
    gap: 2rem;
  }
  h1 {
    font-size: 37px;
  }

  /**FOR NAVEM**/
  label {
    display: block;
    cursor: pointer;
  }
  /**Satte naven til display none for å få det bort og satt flex direction til colum for
for å ha dem som kolonne og ikke rader **/
  nav {
    text-align: center;
    width: 100%;
    display: none;
    flex-direction: column;
  }
  /**alle linkene i nav-listen satt jeg til displat block og lagde border for */

  .nav-list a {
    display: block;
    border-bottom: 0.5px solid #eaeaeb;
    margin: 0;
  }
  /*Når du trykker på togglen så skal naven komme ned*/
  #toggle:checked + nav {
    display: block;
  }

  /*gjorde tre ting seksjonnene til 1 rad og 1 kolonne*/
  .tre-ting-kolonne {
    grid-template-columns: 1fr;
    padding: 0 9rem;
    gap: 2rem;
  }
  .kolonne-overskrift {
    font-size: 30px;
    justify-content: center;
  }
}

/******MEDIA MOBIL SCREEN**/

@media only screen and (max-width: 576px) {
  .seksjon-introduksjon .tre-ting {
    padding: 2.4rem 0 6.4rem 0;
  }
  .introduksjon {
    margin: 10px 0;
    padding: 0 3.2rem;
  }

  .introduksjon-bildet {
    width: 80%;
  }

  .logos img {
    height: 1.2rem;
  }
  /**FOR NAVEM**/
  label {
    display: block;
    cursor: pointer;
  }
  /**Satte naven til display none for å få det bort og satt flex direction til colum for
for å ha dem som kolonne og ikke rader **/
  nav {
    text-align: center;
    width: 100%;
    display: none;
  }
  /**alle linkene i nav-listen satt jeg til displat block og lagde border for */

  .nav-list a {
    display: block;
    border-bottom: 0.5px solid #eaeaeb;
    margin: 0;
  }
  /*Når du trykker på togglen så skal naven komme ned*/
  #toggle:checked + nav {
    display: block;
  }

  .tre-ting-kolonne {
    padding: 0 15px 15px 15px;
  }

  nav,
  .footer-container {
    flex-direction: column;
  }
}
