/*************/
/* Generelt*/
/************/
* {
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  color: #555;
  background-color: #fdf2e9;
  max-width: 1280px;
  margin: 0 auto;
}

/****** HEADER *************/
/**************************/
.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  font-size: 1.2rem;
  line-height: 29px;
  letter-spacing: 2px;
  background-color: #f1d4bc;
  padding: 0 40px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.nav-list {
  display: flex;
}
.logo {
  height: 3.9rem;
}
label {
  margin: 0 30px 0 0;
  font-size: 26px;
  line-height: 70px;
  display: none;
}
#toggle {
  display: none;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
}

.nav-link:link,
.nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
}
.nav-link:active {
  color: rgb(20, 19, 16);
}

/*************/
/* Tekstrelatert:
h1, h2, a, 
klasse til h2 og p */
/************/

h1,
h2 {
  font-family: "Times New Roman", Times, serif;
}

.andre-overskrift,
.footer-tekst {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 27px;
  letter-spacing: 1.2px;
}

h1 {
  font-size: 44px;
  line-height: 66px;
  margin-bottom: 32px;
  letter-spacing: 5px;
}

h2 {
  font-size: 36px;
  margin-bottom: 48px;
  line-height: 54px;
  letter-spacing: 4px;
}

.introduksjon-beskrivelse {
  font-size: 22px;
  line-height: 2.2rem;
  letter-spacing: 2px;
}

.kolonne-tittel {
  margin-bottom: 16px;
  font-size: 20px;
  justify-content: center;
  line-height: 30px;
}

.kolonne-tekst {
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 2px;
}

.andre-overskrift {
  font-size: 25px;
  margin-bottom: 0;
  line-height: 36px;
  letter-spacing: 3px;
}

.footer-tekst {
  font-size: 18px;
}

/**************************/
/**********Layout***********/
/**************************/

.seksjon-introduksjon,
.section-tittel {
  padding: 5rem 0 2rem 0;
}

.introduksjon,
.tre-ting-kolonne {
  display: grid;
  column-gap: 80px;
}

.introduksjon {
  grid-template-columns: repeat(2, 1fr);
  margin-top: 75px;
  padding-left: 30px;
}

.tre-ting-kolonne {
  grid-template-columns: repeat(3, 1fr);
  padding: 0 30px 30px 30px;
}

.footer-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.section-tittel,
.kolonne-overskrift {
  text-align: center;
}

footer {
  border-style: solid;
}

.kolonne-overskrift {
  padding-top: 10px;
}

img {
  max-width: 100%;
  align-items: center;
}
.introduksjon-bildet {
  display: grid;
  align-items: center;
  justify-items: center;
}

/**SYMBOL**/

.kolonne-icon {
  width: 30px;
  height: 32px;
  padding-bottom: 10px;
}

/**************************/
/******MEDIA-QUERY**/
/**************************/

@media only screen and (max-width: 950px) {
  .introduksjon {
    grid-template-columns: 1fr;
    padding: 0 8rem;
    gap: 2rem;
  }
  h1 {
    font-size: 37px;
  }

  .tre-ting-kolonne {
    grid-template-columns: 1fr;
    padding: 0 9rem;
    gap: 2rem;
  }
  .kolonne-overskrift {
    font-size: 30px;
    justify-content: center;
  }
}

/******MEDIA MOBIL SCREEN**/

@media only screen and (min-width: 500px) and (max-width: 800px) {
  .seksjon-introduksjon .tre-ting {
    padding: 2.4rem 0 6.4rem 0;
  }
  .introduksjon {
    margin: 10px 0;
    padding: 0 3.2rem;
  }

  .introduksjon-bildet {
    width: 80%;
  }

  .logos img {
    height: 1.2rem;
  }

  /**FOR NAVEM**/
  label {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
  }

  .main-header {
    flex-direction: column;
    z-index: 9999;
  }
  li,
  .nav-list {
    display: block;
    padding: 10px;
    border-top: 0.5px solid white;
  }
  .header-logo {
    width: 100%;
    margin: 10px 50px 0 10px;
  }
  .nav-list {
    text-align: center;
  }
  nav {
    display: none;
    width: 150%;
    background-color: #f1d4bc;
  }

  #toggle:checked + nav {
    display: block;
  }

  .tre-ting-kolonne {
    padding: 0 15px 15px 15px;
    align-items: center;
  }
}
@media only screen and (max-width: 490px) {
  label {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
  }

  .main-header {
    flex-direction: column;
  }
  li,
  .nav-list {
    display: block;
    padding: 10px;
    border-top: 0.5px solid white;
  }
  .header-logo {
    width: 100%;
    margin: 10px 0 0 10px;
  }
  .nav-list {
    text-align: center;
  }
  nav {
    display: none;
    width: 150%;
    background-color: #f1d4bc;
  }

  #toggle:checked + nav {
    display: block;
  }
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 1rem;
  }
  .paragraf-tekst {
    font-size: 20px;
  }

  .plassere-tekstboks,
  .plassere-bilde {
    width: 100%;
    padding: 0%;
  }
  .introduksjon,
  .tre-ting-kolonne {
    width: 100%;
    margin: 0;
    padding: 0px 30px 0px 30px;
  }
  .footer-container {
    flex-direction: column;
  }
}
