/*************/
/* Generelt*/
/************/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*************/
/* Body, main, H1*/
/************/

body {
  font-family: sans-serif;
  line-height: 2;
  color: #555;
  max-width: 1280px;
}

main {
}

h1 {
  font-size: 3.2rem;
  line-height: 1.2;
  max-width: 40%;
}

/*************/
/* øverste section*/
/************/

.andre-overskrift {
}

.section-tekst {
  font-size: 14px;
  line-height: 12px;
}

.section-overstebilde {
  max-width: 40%;
}

.section-øverst {
  max-width: auto;
  display: flex;
  background-color: red;
  flex-direction: row;
  justify-content: space-evenly;
}

.plassere-tekstboks {
  width: 500px;
  text-align: center;
}

.plassere-bilde {
  width: 500px;
}

/*************/
/* Nedersete section*/
/************/
.section-nederst {
  max-width: auto;
  display: flex;
  background-color: blue;
  flex-direction: row;
  justify-content: space-evenly;
}
